html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #000;
  margin: 0;
  padding: 0;
}

ul,li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color:inherit;
}

h1,h2,h3,h4,h5,h6 {
  
}

h2 {

}

input,
textarea {
  font-family: inherit;
}

.container {
  max-width:1140px;
  padding: 0 15px;
  margin: 0 auto;
}

/*header*/

.header {
  padding-top: 60px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__item {
  display: flex;
}

.header__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: #212121;
}

.header__list {
  position: relative;
  padding-right: 10px;
}

.header__list::after {
  content: '';
  position: absolute;
  background: url(../img/Polygon.png);
  right: 0;
  top: 7px;
  width: 5px;
  height: 5px;

}

.header__list +.header__list {
  margin-left: 45px;
}

.header__list_car::after {
  content: '';
  display: none;
}

.header__list_car +.header__list_car {
  margin-left: 35px;
}

.header__car {
  display: flex;
}

.header__bascet + .header__bascet {
  margin-left: 15px;
}



.header__info {

}