html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #000;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

ul,li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color:inherit;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

h2 {

}

input,
textarea {
  font-family: inherit;
}

.container {
  max-width:1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  display: block;
  width: 240px;
  height: 55px;
  background: #D7B399;
  text-align: center;
  text-transform: uppercase;
  padding: 17px 5px 18px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  transition: all .3s ease;
}

.btn:hover {
  background: #fff;
  color: #D7B399;
  border: 1px solid #D7B399;
  font-weight: 600;
}

/*header*/

.header {
  padding-top: 60px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__item {
  display: flex;
}

.header__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: #212121;
}

.header__list {
  position: relative;
  padding-right: 10px;
}

.header__list::after {
  content: '';
  position: absolute;
  background: url(../img/Polygon.png);
  right: 0;
  top: 7px;
  width: 5px;
  height: 5px;

}

.header__list +.header__list {
  margin-left: 45px;
}

.header__list_car::after {
  content: '';
  display: none;
}

.header__list_car +.header__list_car {
  margin-left: 35px;
}

.header__car {
  display: flex;
}

.header__bascet + .header__bascet {
  margin-left: 15px;
}

/*banner*/

.banner {
  padding-top: 170px;
  padding-bottom: 133px;
}

.banner__inner {
  display: flex;
}

.banner__sale {
  max-width: 570px;
  width: 100%;
}

.banner__sale-title {
  font-size: 30px;
  letter-spacing: 0.02em;
  line-height: 37px;
  margin-bottom: 35px;
}

.banner__sale-sale {
  font-weight: bold;
  font-size: 55px;
  letter-spacing: 0.04em;
  line-height: 67px;
  margin-bottom: 55px;
}

.banner__btn {

}

.banner__img {
  position: relative;
}

.banner__img-price {
  position: absolute;
  font-weight: bold;
  text-transform: uppercase;
}

.new__price {
  font-size: 42px;
  line-height: 51px;
  letter-spacing: 0.02em;
  color: #D84033;
  right: 0;
  top: 30px;
}

.old__price {
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.05em;
  right: 0;
}

.old__price::after {
  content: '';
  position: absolute;
  display: block;
  width: 100px;
  height: 1px;
  background: #000;
  top: 14px;
}

/*free*/

.free {
  padding: 80px 10px 69px;
  background: #212121;
  color: #fff;
  text-align: center;
}

.free__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.02em;
  margin-bottom: 23px;
}

.free__text {
  font-weight: 300;
  font-size: 21px;
  line-height: 26px;
}

/*collection*/

.collection {
  padding-top: 60px;
  padding-bottom: 58px;
  background: #F9F6F1;
}

.collection__inner {
  display: flex;
}

.collection__box {
  width: 50%;
  position: relative;
}

.collection__span {
  font-weight: 500;
}

.collection__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.collection__info {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 40px;
}

.collection__btn {
  width: 80px;
  height: 30px;
  display: block;
  background: #D7B399;
  text-align: center;
  color: #fff;
  padding: 2px 5px;
  transition: all .3s ease;
}

.collection__btn:hover {
  box-shadow: 6px 5px 10px 0px #d7b399;
}

.collection__img {
  position: absolute;
  right: 50px;
  bottom: -57px;
}

/* models */

.models {
 padding-top: 150px;
 padding-bottom: 152px;
 text-align: center;
}

.models__inner {

}

.models__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 100px;
}

.models__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 103px;
}

.models__box {
  display: block;
  width: 255px;
  height: 350px;
}

.models__box-img {
  margin-bottom: 25px;
}

.models__box-title {
  display: block;
  width: 112px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 15px;
}

.models__box-price {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #D7B399;
}

.models__btn {
  margin: 0 auto;
  position: relative;
}

.models__btn::after {
  content: '';
  position: absolute;
  right: 25px;
  top: 22px;
  background-image: url(../img/Arrow.svg);
  height: 7px;
  width: 20px;
}